* {
    padding: 0px;
    margin: 0px;
}
.w {
    box-sizing: border-box;
    width: 1440px;
    margin: 0 auto;
    border: 1px solid #cccccc;
    border-bottom: 0;
    border-top: 0;
    /* background-color: purple; */
}
.your-name {
    width: 1440px;
    height: 80px;
    line-height: 80px;
    background: url(../images/uname-21.jpg);
    background-size: 100%;
    background-position: -1400px -36px;
    /* background-color: aqua; */
    margin-bottom: 2px;
    overflow: hidden; 
}
.nav-pc {
    float: left;
    width: 240px;
    height: 80px;
    /* background-color: yellow; */
    
    /* 清除浮动 */
}
.nav-pc .nav-left {
    float: left;
    width: 120px;
    height: 80px;
    /* background-color: red; */
}
.nav-pc .nav-left img {
    width: 100%;
    height: 100%;
}
.nav-pc .nav-right{
    float: right;
    width: 120px;
    height: 80px;
    /* background-color: tomato; */
}
.nav-pc .nav-right img {
    width: 100%;
    height: 100%;
}
.nav-li-right {
    float: right;
    width: 1198px;
    height: 80px;
}
.nav-li-right .nav-ul li{
    float: left;
    padding-left: 20px;
    list-style: none;
    padding-right: 60px;
}
.nav-li-right .nav-ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
}
.nav-li-right .nav-ul li a:hover {
    color: tomato;
}
.nav-li-right .nav-ul li:nth-child(1) {
    padding-left: 55px;
}
.pic {
    height: 450px;
    /* width: 1440px; */
    margin-top: 3px;
} 
.pic img {
    width: 100%;
    height: 100%;
}
.bottom-side {
    height: 81px;
    border-bottom: 1px solid #cccccc;
    margin-top: 3px;
    text-align: center;
    line-height: 81px;
    background: url(../images/uname-32.jpg);
    background-position: -1000px -24px;
    /* background-size: 100%; */
    /* background-color: #b0a3e3; */
}
.bottom-side span a {
    text-decoration: none;
    color: #ffffff;
}
.bottom-side span a:hover {
    color: tomato;
}
