.create-work {
    width: 1440px;
    height: 353px;
    background: url(../images/uname-27.jpg) no-repeat;
    background-size: 100%;
    margin-top: -7px;
    /* background-color: rosybrown; */
}
.create-work h2 {
    text-align: center;
    margin-top: 10px;
}
.create-work p {
    text-indent: 2em;
    margin-top: 5px;
}
.create-work ul li:nth-child(1){
    margin-top: 10px;
}
.create-work ul li{
    text-indent: 2em;
    list-style: none;
    padding-bottom: 5px;
    font-family: Microsoft YaHei;
}